.hero {
  display: grid;
  grid-template-columns: 1.3fr 1fr; 
  align-items: center;
  justify-content: center; 
  color: #ffffff;
  padding-left: 200px;
}

/* LEFT: text column */
.hero-left{
  animation: float 3s ease-in-out infinite;
}
.hello {
  font-size: 35px;
}

.name {
  font-weight: 500;
  font-size: 80px;
  line-height: 100px;
}

.subtitle{
  font-size: 25px;
  padding-bottom: 30px;
}

.btn-glass {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;                  /* text color */
  text-decoration: none;
  border-radius: 999px;            /* pill shape */

  background: rgba(255, 255, 255, 0.08); /* translucent */
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);     /* the “glass” */
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease;
}

.btn-glass:hover {
  background: rgba(255, 255, 255, 0.16);
  transform: translateY(-2px);
}


/* RIGHT: Spline column */
.hero-right {
  width: 100%;
}

.spline-frame {
  width: 300px;
  height: 500px;   
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

/* Mobile: stack */
@media (max-width: 900px) {
  .hero { grid-template-columns: 1fr; }
  .name { text-align: center; }
  .hero-buttons { justify-content: center; }
  .hero-right { max-width: 520px; }
  .spline-frame { height: 520px; }
}
