.portfolio {
  max-width: 1000px;
  text-align: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.portfolio h1 {
  font-size: 4rem;
  margin: 0 0 24px;
  color: #333;
}
.project-content {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.button-container {
  margin-top: auto;
  text-align: center;
}
.projects .project {
  height: 425px;
  padding: 0 3px;
  background: #fff;
  border-radius: 20px;
  margin: 0 auto; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  transition: transform 0.3s ease;
}
.projects .project img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-bottom: 1px solid #eee;
}
.projects .project h2 {
  margin: 10px 0 0;
  font-weight: 600;
  font-size: 2rem;
  color: #333;
}
.projects .project p {
  margin: 10px 0 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
}
.projects .project button {
  margin: auto;
  padding: 8px 16px;
  background-color: #333;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "VT323", monospace;
  margin-bottom: 12px;
  margin-top: 12px;
}
.projects .project button:hover {
  background-color: #8B5E3C;
}

.slick-center .project {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.project-description {
  height: 100px;              
  overflow: hidden;         
  text-overflow: ellipsis;   
  display: -webkit-box;
  -webkit-line-clamp: 5;    
  -webkit-box-orient: vertical;
}

.slick-slide > div {
  padding: 0 10px;
  box-sizing: border-box;
}

.slick-dots li button:before {
  color: #007bff;
}
.slick-prev:before,
.slick-next:before {
  color: #8B5E3C !important;  
  font-size: 30px;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 2;
  width: 50px;
  height: 50px;
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;  
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
@media(max-width:890px){
  .projects .project { 
    min-height: 360px; 
    max-width: 320px;
  }
  .projects .project img { height: 150px; }
  .projects .project h3 { font-size: 1.4rem; }
  .projects .project p  { font-size: 1rem; }
  
}